<div fxLayout="row" fxLayoutAlign="space-evenly" fxLayout.xs="column" fxLayout.lt-md="column" fxLayout.md="column" fxLayout.lt-sm="column">
  <app-contact-list-item *ngFor="let contact of contacts | paginate: { itemsPerPage: 4, currentPage: p}"
                         [contact]="contact"
                         (contactDeleted)="onContactDeleted($event)">
  </app-contact-list-item>
</div>
<div>
<pagination-controls (pageChange)="p = $event" fxLayoutAlign="center"></pagination-controls>
</div>
<div>
<button mat-fab color="primary" (click)="onContactCreate()" class="app-fab">
  <mat-icon>add</mat-icon>
</button>
</div>
