<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="'push'" [opened]="false" class="app-sidenav">
    <div class="app-sidenav-header">
      <img src="../assets/images/avatar.png">
      <span>Mitro Onatsu</span>
      <div>
        <a href="https://github.com/mitroskii/KLI1315-contacts-app">
          <img src="../assets/images/GitHub-Mark-120px-plus.png"></a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

